---
interface Props {
  es: string;
  en: string;
  as?: string;
  class?: string;
}
const { es, en, as: Tag = 'span', class: cls = '' } = Astro.props;
---
<Tag class={cls} data-i18n="t">
  <span data-lang="es" class="hidden">{es}</span>
  <span data-lang="en">{en}</span>
</Tag>
